# Numpy -----------------------------------
numpy

# Torch -----------------------------------
# Let pyannote.audio manage torchaudio version for compatibility

# Audio -----------------------------------
sounddevice
diart
pyannote.audio

# HuggingFace ---------------------------
huggingface_hub
